# Work with dates

# UNIT 1

## System load

In [ ]:
!head syslogs.data

In [ ]:
from datatime import datetime

In [ ]:
with open('syslog.data', 'r') as f:
    for line in f:
        line = line.strip()
        print(line)
        print (date.strptime(line, '%d.%m.%YT%H:%M'))
        break

In [ ]:
stats = {}

i=0
with open('syslogs.data', 'r') as f:
    for line in f:
        line = line.strip()
        dt = datetime.strtime(line, '%d.%m.%YT%H:%M')
        
        hour = dt.hours
        
        stats.setdefault(hour, 0)
        
        i+=1
        if i % 100000 == 0:
            print(i)

# UNIT 2

In [ ]:
startDate = '2017-12-01'

endDate = '2017-12-31'

In [1]:
date_string = '05.10.2016 23:18'

In [2]:
type(date_string)

str

In [3]:
import datetime

In [4]:
from datetime import datetime, timedelta

In [8]:
date_datetime = datetime.strptime( date_string, '%d.%m.%Y %H:%M')

In [10]:
type(date_datetime)

datetime.datetime

In [11]:
date_datetime.year

2016

In [12]:
date_1 = 'May 9 2017 9:00AM'

In [14]:
date_def = datetime.strptime( date_1, '%B %d %Y %H:%M%p')

In [15]:
date_def

datetime.datetime(2017, 5, 9, 9, 0)

In [17]:
date_def.hour

9

In [24]:
print('{:%H:%M%p}'.format(date_def))

09:00AM

# UNIT 3

## Trasfer string into datetime

In [26]:
startDate = '2017-01-01'

In [27]:
startDate_datetime = datetime.strptime( startDate, '%Y-%m-%d')

In [28]:
startDate_datetime + timedelta( days = 1)

datetime.datetime(2017, 1, 2, 0, 0)

In [29]:
startDate_datetime + timedelta( days = -7)

datetime.datetime(2016, 12, 25, 0, 0)

In [30]:
startDate_datetime += timedelta( hours = 1)

In [31]:
startDate_datetime

datetime.datetime(2017, 1, 1, 1, 0)

In [32]:
date_ex = 'May 9 2017 9:00AM'

In [33]:
date_ex_datetime = datetime.strptime( date_ex, '%B %d %Y %H:%M%p')

In [34]:
date_ex_datetime += timedelta( hours = 1)

In [36]:
date_ex_datetime.hour

10

## Transfer datetime into string

In [37]:
startDate = '2017-01-01'

In [38]:
startDate_datetime = datetime.strptime( startDate, '%Y-%m-%d')

In [39]:
startDate_datetime.strftime( '%Y-%m-%d')

'2017-01-01'

In [40]:
date_ex = 'May 9 2017 9:00AM'

In [41]:
date_ex_datetime = datetime.strptime( date_ex, '%B %d %Y %H:%M%p')

In [42]:
date_into_string = date_ex_datetime.strftime( '%Y-%m-%d')

In [43]:
date_into_string

'2017-05-09'

# UNIT 4

## Preparation of variables

In [44]:
startDate = '2017-01-01'
endDate = '2017-01-07'

In [45]:
startDate_datetime = datetime.strptime( startDate, '%Y-%m-%d')
endDate_datetime = datetime.strptime( endDate, '%Y-%m-%d')

In [46]:
print (startDate_datetime, endDate_datetime)

2017-01-01 00:00:00 2017-01-07 00:00:00

## Create the loop

In [47]:
current_day = startDate_datetime

In [48]:
a = 1
while a < 5:
    print ( a )
    a += 1

1
2
3
4

In [49]:
while current_day <= endDate_datetime:
    print ( current_day )
    current_day += timedelta ( days = 1)

2017-01-01 00:00:00
2017-01-02 00:00:00
2017-01-03 00:00:00
2017-01-04 00:00:00
2017-01-05 00:00:00
2017-01-06 00:00:00
2017-01-07 00:00:00

In [55]:
endDate = '2017-01-03'
endDate_datetime = datetime.strptime( endDate, '%Y-%m-%d')

current_hour = startDate_datetime

while current_hour <= endDate_datetime:
    print( current_hour.strftime( '%Y-%m-%d %H:%M:%S') )
    current_hour += timedelta( hours = 1)

2017-01-01 00:00:00
2017-01-01 01:00:00
2017-01-01 02:00:00
2017-01-01 03:00:00
2017-01-01 04:00:00
2017-01-01 05:00:00
2017-01-01 06:00:00
2017-01-01 07:00:00
2017-01-01 08:00:00
2017-01-01 09:00:00
2017-01-01 10:00:00
2017-01-01 11:00:00
2017-01-01 12:00:00
2017-01-01 13:00:00
2017-01-01 14:00:00
2017-01-01 15:00:00
2017-01-01 16:00:00
2017-01-01 17:00:00
2017-01-01 18:00:00
2017-01-01 19:00:00
2017-01-01 20:00:00
2017-01-01 21:00:00
2017-01-01 22:00:00
2017-01-01 23:00:00
2017-01-02 00:00:00
2017-01-02 01:00:00
2017-01-02 02:00:00
2017-01-02 03:00:00
2017-01-02 04:00:00
2017-01-02 05:00:00
2017-01-02 06:00:00
2017-01-02 07:00:00
2017-01-02 08:00:00
2017-01-02 09:00:00
2017-01-02 10:00:00
2017-01-02 11:00:00
2017-01-02 12:00:00
2017-01-02 13:00:00
2017-01-02 14:00:00
2017-01-02 15:00:00
2017-01-02 16:00:00
2017-01-02 17:00:00
2017-01-02 18:00:00
2017-01-02 19:00:00
2017-01-02 20:00:00
2017-01-02 21:00:00
2017-01-02 22:00:00
2017-01-02 23:00:00
2017-01-03 00:00:00

In [ ]:
def date_range(start_date, end_date):
    """
    This function returns list of dates between start_date and end_date
    in increments of one day. If start_date > end_date, function returns.
    
    Example:
    date_range('2018-01-01', '2018-01-07')
    [
        '2018-01-01',
        '2018-01-02',
        '2018-01-03',
        '2018-01-04',
        '2018-01-05',
        '2018-01-06',
        '2018-01-07'
    ]
    """ 
    date_range_list = []
    current_date = start_date
    current_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime( end_date, '%Y-%m-%d')
    while current_date_dt <= end_date_dt:
        date_range_list.append(current_date)
        current_date_dt += timedelta(days=1)
        current_date = current_date_dt.strftime('%Y-%m-%d')
    return date_range_list

# UNIT 5

In [56]:
import pandas as pd
data = pd.read_csv('data.tsv', sep = '\t')
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8

In [57]:
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')

In [58]:
data['datetime'] = data.apply(convert_to_datetime, axis=1)

In [59]:
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00

## UNIXTIME

In [62]:
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())

In [63]:
data['unixtime'] = data.apply( make_unix_time, axis =1)

In [64]:
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475627e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475699e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475287e+09

In [66]:
min_max_df = data.groupby('user_id').agg(['min', 'max'])['unixtime']

In [75]:
diff = (min_max_df['max']- min_max_df['min'])
len(diff)

124

In [76]:
len(diff[diff<=0])

68

In [77]:
len(diff[diff > 0])

56

In [78]:
diff = diff[diff > 0]

In [79]:
diff.mean()

301143.21428571426

In [80]:
sum(diff)/len(diff)

301143.21428571426

In [82]:
lifetime = diff.mean()/(3600*24)
lifetime

3.485453869047619