# Work with multiple files

# UNIT 1

### Using the command line

In [2]:
!ls logs/*

"ls" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.

#### How many records

In [ ]:
#сколько строчек в каждом файле
!wc -l logs/*s

In [ ]:
!head Documents/
!tail -n20 Documents/

#### Host statistics

In [ ]:
# f1 - column
!cut -f1 logs/* | head
# считает уникальные элементы в потоке данных, который приходит слева
!cut -f1 logs/* | uniq -c
# -c - ~value_counts() - это метод требует, чтобы данные были отсортированы
!cut -f1 logs/* | sort | uniq -c

# UNIT 2

In [3]:
import os

In [13]:
files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [14]:
mixed_files = [

'movies.csv',

'notes.txt',

'ratings.zip',

'ratings_1.txt',

'ratings_10.txt',

'ratings_2.txt',

'ratings_3.txt',

'ratings_6.txt',

'ratings_7.txt',

'ratings_8.txt',

'ratings_9.txt',

'subfolder'

]

In [20]:
for x in mixed_files:
    if 'ratings_' in x and 'txt' in x:
        print (x)

ratings_1.txt
ratings_10.txt
ratings_2.txt
ratings_3.txt
ratings_6.txt
ratings_7.txt
ratings_8.txt
ratings_9.txt

In [23]:
mixed_files = [x for x in mixed_files if ('ratings_' in x) & ('txt' in x)]

In [26]:
len(mixed_files)

8

In [27]:
for root, dirs, files in os.walk('data'):
    print('Прохожу файлы папки {}'.format(root))
    print('Файлы в папки: {}'.format(files))
    print('Список внутренних папок: {}'.format(dirs))

Прохожу файлы папки data
Файлы в папки: ['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt', 'ratings_3.txt', 'ratings_4.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_7.txt', 'ratings_8.txt', 'ratings_9.txt']
Список внутренних папок: []

In [28]:
level_0 = ['ratings_1.txt', 'ratings_10.txt', 'ratings_2.txt']

level_1 = ['ratings_1_subfolder.txt', 'ratings_2_subfolder.txt', 'ratings_3_subfolder.txt']

level_2 = ['ratings_logs_001.txt', 'ratings_logs_002.txt', 'ratings_logs_003.txt']

In [30]:
len(level_0)+len(level_1)+len(level_2)

9

In [31]:
print(os.path.join('data', 'ratings_1.txt'))

data\ratings_1.txt

In [32]:
import pandas as pd
files = os.listdir('data')

data = pd.read_csv(os.path.join('data', files[0]))
data.head()
# вручную добавить шапку(названия столбцов)

   1    31  2.5  1260759144
0  1  1029  3.0  1260759179
1  1  1061  3.0  1260759182
2  1  1129  2.0  1260759185
3  1  1172  4.0  1260759205
4  1  1263  2.0  1260759151

#### Size of the file in folder

In [33]:
from os.path import join, getsize

for root, dirs, files in os.walk('data'):
    print(sum(getsize(join(root, name)) for name in files))

2438233

# UNIT 3

## Method CONCAT

In [35]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],

'B': ['B0', 'B1', 'B2', 'B3'],

'C': ['C0', 'C1', 'C2', 'C3'],

'D': ['D0', 'D1', 'D2', 'D3']})

df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [36]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],

'B': ['B4', 'B5', 'B6', 'B7'],

'C': ['C4', 'C5', 'C6', 'C7'],

'E': ['D4', 'D5', 'D6', 'D7']})

df2

    A   B   C   E
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  D6
3  A7  B7  C7  D7

In [38]:
pd.concat([df1, df2])

   index   A   B   C    D    E
0      0  A0  B0  C0   D0  NaN
1      1  A1  B1  C1   D1  NaN
2      2  A2  B2  C2   D2  NaN
3      3  A3  B3  C3   D3  NaN
4      0  A4  B4  C4  NaN   D4
5      1  A5  B5  C5  NaN   D5
6      2  A6  B6  C6  NaN   D6
7      3  A7  B7  C7  NaN   D7

In [39]:
pd.concat([df1, df2], axis = 1)

    A   B   C   D   A   B   C   E
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  D2  A6  B6  C6  D6
3  A3  B3  C3  D3  A7  B7  C7  D7

In [52]:
data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])

In [46]:
filename = 'ratings_1.txt'
temp = pd.read_csv( os.path.join('data', filename), names = ['userId', 'movieId', 'rating', 'timestamp'])

In [47]:
temp

      userId  movieId  rating   timestamp
0          1       31     2.5  1260759144
1          1     1029     3.0  1260759179
2          1     1061     3.0  1260759182
3          1     1129     2.0  1260759185
4          1     1172     4.0  1260759205
...      ...      ...     ...         ...
9994      70      891     4.0   853954893
9995      70     1059     5.0   853955020
9996      70     1061     5.0   853955020
9997      70     1073     5.0   853954401
9998      70     1356     5.0   853954485

[9999 rows x 4 columns]

In [48]:
data = pd.concat([data, temp])
data

     userId movieId  rating   timestamp
0         1      31     2.5  1260759144
1         1    1029     3.0  1260759179
2         1    1061     3.0  1260759182
3         1    1129     2.0  1260759185
4         1    1172     4.0  1260759205
...     ...     ...     ...         ...
9994     70     891     4.0   853954893
9995     70    1059     5.0   853955020
9996     70    1061     5.0   853955020
9997     70    1073     5.0   853954401
9998     70    1356     5.0   853954485

[9999 rows x 4 columns]

In [50]:
files = os.listdir('data')
files

['ratings_1.txt',
 'ratings_10.txt',
 'ratings_2.txt',
 'ratings_3.txt',
 'ratings_4.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_7.txt',
 'ratings_8.txt',
 'ratings_9.txt']

In [53]:
#row_count=0
for file in files:
    temp = pd.read_csv( os.path.join('data', file), names = ['userId', 'movieId', 'rating', 'timestamp'])
    #row_count += len(temp)
    data = pd.concat([data, temp])

In [54]:
data.head()

  userId movieId  rating   timestamp
0      1      31     2.5  1260759144
1      1    1029     3.0  1260759179
2      1    1061     3.0  1260759182
3      1    1129     2.0  1260759185
4      1    1172     4.0  1260759205

In [55]:
len(data)

100004

"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.
"wc" ­Ґ пў«пҐвбп ў­гваҐ­­Ґ© Ё«Ё ў­Ґи­Ґ©
Є®¬ ­¤®©, ЁбЇ®«­пҐ¬®© Їа®Ја ¬¬®© Ё«Ё Ї ЄҐв­л¬ д ©«®¬.